/* COLORS */
:root {
  --orange: #fa9006;
  --blue: #054a6c;
  --green: #4f7232;
  --text-on-green: #fafafa;
  --text-on-orange: #212121;
  --shadow-bottom: 0 8px 8px -8px #212121;
}

/* GENERAL */

* {
  box-sizing: border-box;
}

.background {
  background-color: var(--blue);
  padding: 0;
  margin: 0;
}

.content {
  width: 100%;
  padding: 20px 20px 0;
  max-width: 1040px;
  margin: 0 auto;
}

main {
  background-color: var(--green);
  color: var(--text-on-green);
  padding: 20px;
}

/* NAVBAR */

.navbar {
  background-color: var(--orange);
  min-height: 45px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  box-shadow: var(--shadow-bottom);
}

.navbar .navitem {
  padding: 15px;
  height: 45px;
  flex-grow: 1;
  text-align: center;
}

.navbar a,
.navbar .subnav::after {
  color: var(--text-on-orange);
  text-decoration: none;
}

.navbar .subnav .dropdown {
  display: none;
}

.navbar .subnav::after {
  content: "▾";
}

.navbar .navitem:hover,
.navbar .navitem:hover a,
.navbar .subnav.navitem:hover::after {
  background-color: var(--green);
  color: var(--text-on-green);
}

.navbar .navitem:hover .dropdown {
  background-color: var(--green);
  color: var(--text-on-green);
  display: block;
  position: absolute;
  max-height: 90px;
  top: 45px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: var(--shadow-bottom);
}

@media (max-width: 650px) {
  .navbar .navitem:hover .dropdown {
    max-height: unset;
  }
}

.navbar .navitem:hover a:hover,
.navbar a:hover {
  color: var(--orange);
}

/* CONTENT */

.image {
  width: 100%;
  display: block;
}

.layout {
  display: grid;
  grid-template-columns: auto 25%;
  grid-template-rows: auto;
  grid-template-areas: "main sidebar";
  grid-gap: 20px;
}

.layout-main {
  grid-area: main;
}

.layout-aside {
  grid-area: sidebar;
}

/* HEADERS */

h1 {
  margin: 20px 0;
  padding: 0 0 15px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: unset;
  text-transform: unset;
  color: #FA9006;
  background-image: unset;
  border-bottom: 1px solid currentColor;
}

h1:first-child {
  margin-top: 0;
}